body{
    margin: 0;
    padding: 0;

}



.total{
    text-align: center;
    border: 2px dotted black;
    border-radius: 8px;
    width: 50%;
    background: black;
    margin-left: 25%; 
    position: fixed;
    margin-top: -130px;
}




.total p{
    color: white;


}

.input-div{
    margin:auto;
    margin-top:130px;
    text-align: center;

}

.input-div select{
    width: 5%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid black;
    color: red;


}


.input-div #transaction{
    width: 35%;
    height:20px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;


}


.input-div #amount{
    border-radius: 5px;
    width: 20%;
    height:20px;
    border: 2px solid black;
    text-align: center;
}





.input-div #submit{
    width: 10%;
    height: 27px;
    border: 2px solid black;
    border-radius: 5px;
    color: red;


}



.added-items{
    text-align: center;
    width: 50%;
    min-width: 150px;
    height: 35px;
    margin-top: 35px;
    float:left;

}
.minus-items{
    text-align: center;
    width: 50%;
    min-width: 150px;
    height: 35px;
    margin-top: 35px;
    float:left;


}


.added-items p{
    background-color: green;
    border-radius: 10px;
    margin:auto;
    margin-top: 10px;
    width:60%;
    float: right;
}



.minus-items p{
    background-color: red;
    border-radius: 10px;
    margin:auto;
    margin-top: 10px;
    width:60%;
    float: left;
}



@media only screen and (max-width: 768px)  {
    
    .input-div {
        margin: auto;
        text-align: center;
        width: 50%;
        margin-top: 150px;
        
    }
    .input-div select{
        width:20%;
        margin-bottom: 10px;
        text-align: center;
        display: block;
        margin: auto;
        margin-top:15px;
    }
    
    .input-div label{
        margin: auto;
        display:block;
        text-align: center;
    }
    .input-div #transaction{
        width: 50%;
        margin: auto;
        display: block;
        text-align: center;
        
    }
    .input-div #amount{
        width:50%;
        margin: auto;
        display: block;
        text-align: center;
        
        
    }
    .input-div #submit{
        
        width:35%;
        margin-top:15px;

        
        
        
        
    }
    .added-items{
        margin:auto;
        width:50%
    }
    .minus-items{
        margin: auto;
        width: 50%
    }
        .added-items p{
    background-color: green;
    border-radius: 10px;
    margin:auto;
    margin-top: 10px;
    width:60%;
    float: right;
    }



    .minus-items p{
        background-color: red;
        border-radius: 10px;
        margin:auto;
        margin-top: 10px;
        width:60%;
        float: left;
    }
    
       
    .total{

        margin-top: -130px;



    }
}
@media only screen and (min-width:768px)
    and (max-width:1024px){
    
    .input-div {
        margin: auto;
        text-align: center;
        width: 50%;
        margin-top:150px;
        
    }
    .input-div select{
        width:10%;
        margin-bottom: 20px;
        text-align: center;
        margin: auto;
        margin-top:15px;
        display:block;
    }
    
    
    .input-div #transaction{
        width: 30%;
        text-align: center;
        margin-top: 10px;
        
    }
    .input-div #amount{
        width:30%;
        text-align: center;
        
        
    }
    .input-div #submit{
        margin-top:10px;
        width:35%;

        
        
        
        
    }
    .added-items{
        margin:auto;
        width:50%
    }
    .minus-items{
        margin: auto;
        width: 50%
    }
    
    .added-items p{
    background-color: green;
    border-radius: 10px;
    margin:auto;
    margin-top: 10px;
    width:60%;
    float: right;
    }



    .minus-items p{
        background-color: red;
        border-radius: 10px;
        margin:auto;
        margin-top: 10px;
        width:60%;
        float: left;
    }

    .total{

        margin-top: -130px;



    }
    
    
    
    
    
    
    
}